table {
	width:100%;
	border-spacing: 0;
}
td{
	padding-top:5px;
	padding-bottom:5px;
}
input[type=text] {
	font-size:1.3em;
}
.techs input[type=text]{
	width:4em;
}
#single_pic{
	width:80px;
	height:80px;
	background:white;
}
.images{
	float:left;
}
.images img{
	width:80px;
	height:80px;
	background:white;
}
#product_images img{
	width:50px;
	height:50px;
}
input[type=submit]{
	margin-right:350px;
}